PORT=your_api_port_here
JWT_SECRET=your_super_secret_key_here
JWT_REFRESH_SECRET=your_super_secret_key_here
POSTGRES_HOST=your_api_host_here
POSTGRES_PORT=your_db_port_here
POSTGRES_USER=your_db_username_here
POSTGRES_PASSWORD=your_db_password_here
POSTGRES_DATABASE=your_db_name_here
